version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  ignore:
    - dependency-name: "github.com/coreos/ignition"
    - dependency-name: "kubevirt.io/api"
    - dependency-name: "kubevirt.io/client-go"
    - dependency-name: "kubevirt.io/containerized-data-importer-api"
    - dependency-name: "sigs.k8s.io/controller-runtime"
    - dependency-name: "github.com/metal3-io/baremetal-operator/apis"
    # These have special version pinning in go.mod (see replace directives)
    - dependency-name: "k8s.io/kube-openapi"
    - dependency-name: "k8s.io/utils"
    # Keep k8s dependencies on 0.31.x (OpenShift 4.18 / Kubernetes 1.31)
    - dependency-name: "k8s.io/*"
      versions: ">= 0.32.0"
    - dependency-name: "k8s.io/klog/v2"
      versions: ">= 3.0.0"
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  target-branch: "v1.3.x"
  ignore:
    - dependency-name: "github.com/coreos/ignition"
    - dependency-name: "kubevirt.io/api"
    - dependency-name: "kubevirt.io/client-go"
    - dependency-name: "kubevirt.io/containerized-data-importer-api"
    - dependency-name: "sigs.k8s.io/controller-runtime"
    - dependency-name: "github.com/metal3-io/baremetal-operator/apis"
    # These have special version pinning in go.mod (see replace directives)
    - dependency-name: "k8s.io/kube-openapi"
    - dependency-name: "k8s.io/utils"
    # Keep k8s dependencies on 0.31.x (OpenShift 4.18 / Kubernetes 1.31)
    - dependency-name: "k8s.io/*"
      versions: ">= 0.32.0"
    - dependency-name: "k8s.io/klog/v2"
      versions: ">= 3.0.0"
  commit-message:
    # Prefix all commit messages with "[v1.3.x]"
    prefix: "[v1.3.x]"
