## Append samples you want in your CSV to this file as resources ##
resources:
- osp-director_v1beta1_controlplane.yaml
- osp-director_v1beta1_vmset.yaml
- osp-director_v1beta1_provisionserver.yaml
- osp-director_v1beta1_baremetalset.yaml
- osp-director_v1beta1_openstackclient.yaml
- osp-director_v1beta1_overcloudnet.yaml
- osp-director_v1beta1_overcloudipset.yaml
# +kubebuilder:scaffold:manifestskustomizesamples
# These patches will "correct" some values for samples injected into the CSV,
# but leave the samples as-is for functional testing purposes
patchesJson6902:
- target:
    version: v1beta1
    kind: ControlPlane
    name: overcloud
  path: patches/controlplane_base_image_volume_name_patch.yaml
- target:
    version: v1beta1
    kind: ControlPlane
    name: overcloud
  path: patches/controlplane_controller_count_patch.yaml