## Append samples you want in your CSV to this file as resources ##
resources:
- osp-director_v1beta1_openstackcontrolplane.yaml
- osp-director_v1beta1_openstackvmset.yaml
- osp-director_v1beta1_openstackprovisionserver.yaml
- osp-director_v1beta1_openstackbaremetalset.yaml
- osp-director_v1beta1_openstackclient.yaml
- osp-director_v1beta1_openstacknet.yaml
- osp-director_v1beta1_openstackconfiggenerator.yaml
- osp-director_v1beta1_openstacknetconfig.yaml
- osp-director_v1beta1_openstacknetattachment.yaml
- osp-director_v1beta1_openstackdeploy.yaml
- osp-director_v1beta1_openstackipset.yaml
# +kubebuilder:scaffold:manifestskustomizesamples
# These patches will "correct" some values for samples injected into the CSV,
# but leave the samples as-is for functional testing purposes
patchesJson6902:
- target:
    version: v1beta1
    kind: OpenStackControlPlane
    name: overcloud
  path: patches/openstackcontrolplane_base_image_volume_name_patch.yaml
- target:
    version: v1beta1
    kind: OpenStackControlPlane
    name: overcloud
  path: patches/openstackcontrolplane_controller_count_patch.yaml
