# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/osp-director.openstack.org_openstackcontrolplanes.yaml
- bases/osp-director.openstack.org_openstackvmsets.yaml
- bases/osp-director.openstack.org_openstackprovisionservers.yaml
- bases/osp-director.openstack.org_openstackbaremetalsets.yaml
- bases/osp-director.openstack.org_openstackclients.yaml
- bases/osp-director.openstack.org_openstacknets.yaml
- bases/osp-director.openstack.org_openstackconfiggenerators.yaml
- bases/osp-director.openstack.org_openstackephemeralheats.yaml
- bases/osp-director.openstack.org_openstackmacaddresses.yaml
- bases/osp-director.openstack.org_openstackconfigversions.yaml
- bases/osp-director.openstack.org_openstacknetconfigs.yaml
- bases/osp-director.openstack.org_openstacknetattachments.yaml
- bases/osp-director.openstack.org_openstackbackups.yaml
- bases/osp-director.openstack.org_openstackbackuprequests.yaml
- bases/osp-director.openstack.org_openstackdeploys.yaml
- bases/osp-director.openstack.org_openstackipsets.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_openstackcontrolplanes.yaml
#- patches/webhook_in_openstackvmsets.yaml
#- patches/webhook_in_openstackprovisionservers.yaml
#- patches/webhook_in_openstackbaremetalsets.yaml
#- patches/webhook_in_openstackclients.yaml
#- patches/webhook_in_openstacknets.yaml
#- patches/webhook_in_openstackpredictableips.yaml
#- patches/webhook_in_openstackconfiggenerators.yaml
#- patches/webhook_in_openstackephemeralheats.yaml
#- patches/webhook_in_openstackmacaddresses.yaml
#- patches/webhook_in_openstackconfigversions.yaml
#- patches/webhook_in_openstacknetconfigs.yaml
#- patches/webhook_in_openstacknetattachments.yaml
#- patches/webhook_in_openstackbackups.yaml
#- patches/webhook_in_openstackbackuprequests.yaml
#- patches/webhook_in_openstackdeploys.yaml
#- patches/webhook_in_openstackipsets.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
- patches/cainjection_in_openstackcontrolplanes.yaml
- patches/cainjection_in_openstackvmsets.yaml
- patches/cainjection_in_openstackprovisionservers.yaml
- patches/cainjection_in_openstackbaremetalsets.yaml
- patches/cainjection_in_openstackclients.yaml
- patches/cainjection_in_openstacknets.yaml
- patches/cainjection_in_openstackconfiggenerators.yaml
- patches/cainjection_in_openstackephemeralheats.yaml
#- patches/cainjection_in_openstackmacaddresses.yaml
#- patches/cainjection_in_openstackconfigversions.yaml
- patches/cainjection_in_openstacknetconfigs.yaml
- patches/cainjection_in_openstacknetattachments.yaml
- patches/cainjection_in_openstackbackups.yaml
- patches/cainjection_in_openstackbackuprequests.yaml
- patches/cainjection_in_openstackdeploys.yaml
- patches/cainjection_in_openstackipsets.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
