# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/osp-director.openstack.org_controlplanes.yaml
- bases/osp-director.openstack.org_vmsets.yaml
- bases/osp-director.openstack.org_provisionservers.yaml
- bases/osp-director.openstack.org_openstackbaremetalsets.yaml
- bases/osp-director.openstack.org_openstackclients.yaml
- bases/osp-director.openstack.org_overcloudnets.yaml
- bases/osp-director.openstack.org_overcloudipsets.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_controlplanes.yaml
#- patches/webhook_in_vmsets.yaml
#- patches/webhook_in_provisionservers.yaml
#- patches/webhook_in_openstackbaremetalsets.yaml
#- patches/webhook_in_openstackclients.yaml
#- patches/webhook_in_overcloudnets.yaml
#- patches/webhook_in_overcloudipsets.yaml
#- patches/webhook_in_overcloudpredictableips.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
- patches/cainjection_in_controlplanes.yaml
- patches/cainjection_in_vmsets.yaml
#- patches/cainjection_in_provisionservers.yaml
- patches/cainjection_in_openstackbaremetalsets.yaml
#- patches/cainjection_in_openstackclients.yaml
#- patches/cainjection_in_overcloudnets.yaml
#- patches/cainjection_in_overcloudipsets.yaml
#- patches/cainjection_in_overcloudpredictableips.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
