
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: provisionservers.osp-director.openstack.org
spec:
  group: osp-director.openstack.org
  names:
    kind: ProvisionServer
    listKind: ProvisionServerList
    plural: provisionservers
    singular: provisionserver
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ProvisionServer is the Schema for the provisionservers API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ProvisionServerSpec defines the desired state of ProvisionServer
          properties:
            foo:
              description: Foo is an example field of ProvisionServer. Edit ProvisionServer_types.go
                to remove/update
              type: string
            port:
              type: integer
            rhelImageUrl:
              type: string
          required:
          - port
          type: object
        status:
          description: ProvisionServerStatus defines the observed state of ProvisionServer
          properties:
            provisioningServerIp:
              description: Provisioning IP of underlying Apache web server hosting
                images
              type: string
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
