---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: openstackconfiggenerators.osp-director.openstack.org
spec:
  group: osp-director.openstack.org
  names:
    kind: OpenStackConfigGenerator
    listKind: OpenStackConfigGeneratorList
    plural: openstackconfiggenerators
    shortNames:
    - osconfiggenerator
    - osconfiggenerators
    singular: openstackconfiggenerator
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Status
      jsonPath: .status.currentState
      name: Status
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: OpenStackConfigGenerator Used to configure Heat environments
          and template customizations to generate Ansible playbooks for OpenStack
          Overcloud deployment
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OpenStackConfigGeneratorSpec defines the desired state of
              OpenStackConfigGenerator
            properties:
              debug:
                description: OpenStackConfigGeneratorAdvancedSettings - The main intention
                  of these parameters are for debugging purposes to generate playbooks
                  without the need of a full deployed environment.
                properties:
                  openStackRelease:
                    description: 'OpenStackRelease to overwrite OSPrelease auto detection
                      from the OpenStackControlPlane CR Note: needs to be set when
                      SkipWaiting is used'
                    type: string
                  skipWaiting:
                    description: SkipWaiting enables the user to control if the OpenStackConfigGenerator
                      should wait for all openstackbaremetalsets and openstackvmsets
                      to be Ready before start to generate the playbooks.
                    type: boolean
                  tripleoDeployConfigOverride:
                    description: 'TripleoDeployConfigOverride allows to point to an
                      existing configmap which has the files which are usually generated
                      by the operator. Note: the configmap must provide a tripleo
                      parameter file named `rendered-tripleo-config.yaml`'
                    type: string
                type: object
              enableFencing:
                description: 'EnableFencing allows the automatic creation of required
                  heat environment files to enable fencing. Note: - Production OSP
                  environments MUST have fencing enabled. - Requires the fence-agents-kubevirt
                  package to be installed in the virtual machines for the roles running
                  pacemaker.'
                type: boolean
              ephemeralHeatSettings:
                description: Advanced Heat Settings can be used to increase the Heat
                  Engine replicas or customize container images used during config
                  generation.
                properties:
                  configHash:
                    description: ConfigHash hash which acts as a unique identifier
                      for this ephemeral heat instance
                    type: string
                  heatAPIImageURL:
                    description: Container image URL for the Heat API container image
                      used as part of this ephemeral heat instance
                    type: string
                  heatEngineImageURL:
                    description: Container image URL for the Heat Engine container
                      image used as part of this ephemeral heat instance
                    type: string
                  heatEngineReplicas:
                    default: 3
                    description: Number of replicas for the Heat Engine service, defaults
                      to 3 if unset
                    format: int32
                    type: integer
                  mariadbImageURL:
                    description: Container image URL for the MySQL container image
                      used as part of this ephemeral heat instance
                    type: string
                  rabbitImageURL:
                    description: Container image URL for the RabbitMQ container image
                      used as part of this ephemeral heat instance
                    type: string
                type: object
              gitSecret:
                description: GitSecret the name of the secret used to configure the
                  Git repository url and ssh private key credentials used to store
                  generated Ansible playbooks. This secret should contain an entry
                  for both 'git_url' and 'git_ssh_identity'.
                type: string
              heatEnvConfigMap:
                description: Required. the name of the config map containing Heat
                  env file customizations
                type: string
              heatEnvs:
                description: Optional. List of heat environment files to include from
                  tripleo-heat-templates/environments
                items:
                  type: string
                type: array
              imageURL:
                description: Name of the image used to generate configs. If missing
                  will be set to the configured OPENSTACKCLIENT_IMAGE_URL_DEFAULT
                  in the CSV for the OSP Director Operator.
                type: string
              interactive:
                default: false
                description: Interactive enables the user to rsh into the config generator
                  pod for interactive debugging with the ephemeral heat instance.
                  If enabled manual execution of the script to generate playbooks
                  will be required.
                type: boolean
              roles:
                description: Optional. List of Roles used to limit which roles have
                  network information injected during playbook generation. By default
                  the list is empty and all Roles are included for Baremetal/Vmsets
                  within the project.
                items:
                  type: string
                type: array
              tarballConfigMap:
                description: Optional. the name of the config map containing custom
                  Heat template tarball which will be extracted prior to config generation
                type: string
              tripleoRoleOverride:
                additionalProperties:
                  description: TripleoRoleOverrideSpec overrides the Tripleo role
                    for specific hosts (multi-rhel suppport)
                  properties:
                    hostIndexMap:
                      additionalProperties:
                        type: boolean
                      description: HostIndexMap - host indices from current role to
                        override (defaults to false)
                      type: object
                    roleName:
                      description: RoleOverride - TripleO role name to apply
                      type: string
                  required:
                  - hostIndexMap
                  - roleName
                  type: object
                description: TripleoRoleOverride - map of TripleO role name to temporary
                  role override to support a multi-rhel environment (valid for 17.1
                  only)
                type: object
            required:
            - enableFencing
            - gitSecret
            - heatEnvConfigMap
            type: object
          status:
            description: OpenStackConfigGeneratorStatus defines the observed state
              of OpenStackConfigGenerator
            properties:
              conditions:
                description: Conditions
                items:
                  description: Condition - A particular overall condition of a certain
                    resource
                  properties:
                    lastHearbeatTime:
                      format: date-time
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      description: ConditionReason - Why a particular condition is
                        true, false or unknown
                      type: string
                    status:
                      type: string
                    type:
                      description: ConditionType - A summarizing name for a given
                        condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              configHash:
                description: ConfigHash hash
                type: string
              currentReason:
                description: CurrentReason
                type: string
              currentState:
                description: CurrentState
                type: string
            required:
            - configHash
            - currentReason
            - currentState
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
